canvas{
   animation-name: lighting;
   animation-duration: 4s;
   animation-iteration-count: infinite; 
}
@keyframes lighting{
    from{box-shadow: 1px 1px 38px rgb(65, 135, 163);}
    to{box-shadow: 1px 1px 38px red;}
}